.header {

    display: none;

           width: 340px;

    }
    .a{
        
        font-weight: bold; 
        background-color: #cf4520;       
    }
    
    .sapUshellShellHeader {
        background-color: #cf4520;
    }
    .sapContrast .sapMLabel {
        color: #b00;
    }